@import 'master';

.customMessage {
    width: 100%;
    .messageText{
        padding-bottom: 50px;
        line-height: 30px;
    }
    .infoArea {
        text-align: center;
        font-size: 20px;

        .gameContainer{
            width:100%;
            margin-top:15px;
            margin-bottom:25px;

            .teamContainer{
                width:100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size:20px;
                margin-top:3px;
            }
        }

        //WEATHER
        .temperature {
            margin-left: 10px;
        }

        .cityName {
            margin-left: 30px;
            margin-right: 30px;
            font-size: 30px;
            margin-bottom: 10px;
            display: block;
            font-weight: 500;
        }

        .conditions {
            font-size: 23px;
            display: block;
            margin-right: 12px;
            margin-top: 30px;
            font-weight: 500;
        }

        .description {
            font-size: 15px;
            display: block;
            margin-bottom: 13px;
        }

        .tempArea {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .labels {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .temperature {
                    margin-left: 10px;
                }

                p {
                    margin-top: 7px;
                    margin-bottom: 7px;
                }
            }
        }

        .hideOnMobile {
            display: none;
        }
        //STOCKS
        .symbol {
            display: block;
            margin-left: 45px;
            margin-right: 45px;
        }

        .company {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            display: block;
            font-weight: 500;
        }

        .price {
            font-size: 35px;
            margin-top: 25px;
        }

        .red {
            color: #BC4F6A;
        }

        .green {
            color: $orange;
        }
    }

    //SPORTS
    .infoGrid{
        .gridHeader{
            margin-top:20px;
            width:100%;
            font-size:20px;
            margin-bottom:20px;
            font-weight:500;
            text-align:center;
            display: block;
            text-transform: capitalize;
        }
        .conferenceGridHeader{
            margin-top:0px;
        }
        .gridRow{
            margin-top:10px;
            margin-bottom:10px;
            display: block;

            .value{
                float:right;
            }
            .rank{
                margin-right:20px;
            }
            .standingRank{
                margin-right:20px;
                display:none;
            }
            .rankContainer{
                width:30px;
                max-width:30px;
                display: none;
            }
            .teamContainer{
                width:170px;
                max-width:170px;
            }
            .record{
                float:right;
            }
            .recordContainer{
                width:100px;
                max-width:100px;
                display: inline-block;
                float:right;
            }
            .streak{
                display:none;
            }
        }
    }
    .score {
        margin-top: 15px;
    }
}
@media(min-width:600px) {
    .customMessage {
        .infoArea {
            font-size: 28px;

            .cityName {
                font-size: 33px;
                margin-left: 70px;
                margin-right: 70px;
            }

            .labels {
                p {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .symbol {
                margin-left: 60px;
                margin-right: 60px;
            }

            .hideOnMobile {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: 25px;
            }
            .team{
                margin-right:80px;
            }
        }
        .infoGrid{
            .gridRow{
                .value{
                    float:right;
                }
                .standingRank{
                    margin-right:20px;
                    display: inline-block;
                }
                .rankContainer{
                    width:30px;
                    max-width:30px;
                    display: inline-block;
                }
                .teamContainer{
                    width:230px;
                    max-width:230px;
                    display: inline-block;
                }
                .streak{
                    display:inline;
                    margin-left:25px;
                }
            }
        }
    }
}
