@import 'master';

.customMessage {
    width: 100%;
    // container for SportMessage,
    // SportScheduleMessage,
    // StockMessage, and WeatherMessage
    .messageText {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
    }

    .showMore {
        font-variant: normal !important;
        font-size: 15px;
    }

    .showMoreContainer {
        width: 100%;
        text-align: center;
        margin-top:15px;
        margin-bottom:15px;
    }

    .info {
        border-bottom: 1px solid rgba(249, 247, 246, .5);
        transition: all 0.3s ease-in-out;
        font-variant: small-caps;
    }

    .info:hover {
        border-bottom: 1px solid rgba(249, 247, 246, 1);
    }

    .infoArea {
        text-align: center;
        font-size: 15px;

        .gameContainer {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 13px;
            text-align: left;

            .final {
                text-transform: uppercase;
                color: $grey;
                font-size: 13px;
            }

            .teamContainer {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 15px;
                margin-top: 2px;

                .winner {
                    font-weight: 600;
                }

                .loser {
                    font-weight: 300;
                }
            }
        }
        //WEATHER
        .temperature {
            margin-left: 10px;
        }

        .cityName {
            margin-left: 30px;
            margin-right: 30px;
            font-size: 20px;
            margin-bottom: 10px;
            display: block;
            font-weight: 500;
        }

        .conditions {
            font-size: 23px;
            display: block;
            margin-right: 12px;
            margin-top: 20px;
            font-weight: 500;
        }

        .description {
            font-size: 14px;
            display: block;
            margin-top:10px;
            margin-bottom: 10px;
        }

        .tempArea {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .labels {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .temperature {
                    margin-left: 10px;
                }

                p {
                    margin-top: 7px;
                    margin-bottom: 7px;
                }
            }
        }

        .hideOnMobile {
            display: none;
        }
        //STOCKS
        .symbol {
            display: block;
            margin-left: 45px;
            margin-right: 45px;
        }

        .company {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            display: block;
            font-weight: 500;
        }

        .price {
            font-size: 35px;
            margin-top: 25px;
        }

        .red {
            color: #BC4F6A;
        }

        .green {
            color: $green;
        }
    }
    //Container for SportStandingMessage
    //and SportStatistic Message
    .infoGrid {
        .gridHeader {
            margin-top: 20px;
            width: 100%;
            font-size: 20px;
            margin-bottom: 20px;
            font-weight: 500;
            text-align: center;
            display: block;
            text-transform: capitalize;
        }

        .conferenceGridHeader {
            margin-top: 0;
        }

        .gridRow {
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;

            .value {
                float: right;
            }

            .rank {
                margin-right: 20px;
            }

            .standingRank {
                margin-right: 20px;
                display: none;
            }

            .rankContainer {
                width: 30px;
                max-width: 30px;
                display: none;
            }

            .teamContainer {
                width: 170px;
                max-width: 170px;
            }

            .record {
                float: right;
            }

            .recordContainer {
                width: 100px;
                max-width: 100px;
                display: inline-block;
                float: right;
            }

            .streak {
                display: none;
            }
        }
    }

    .score {
        margin-top: 15px;
        font-size:24px;
    }
}
@media(min-width:600px) {
    .customMessage {
        // container for SportMessage,
        // SportScheduleMessage,
        // StockMessage, and WeatherMessage
        .infoArea {
            font-size: 18px;

            .cityName {
                font-size: 25px;
                margin-left: 70px;
                margin-right: 70px;
            }

            .labels {
                p {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .symbol {
                margin-left: 60px;
                margin-right: 60px;
            }

            .hideOnMobile {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: 25px;
            }

            .team {
                margin-right: 80px;
            }
        }
        //Container for SportStandingMessage
        //and SportStatistic Message
        .infoGrid {
            .gridRow {
                .value {
                    float: right;
                }

                .standingRank {
                    margin-right: 20px;
                    display: inline-block;
                }

                .rankContainer {
                    width: 30px;
                    max-width: 30px;
                    display: inline-block;
                }

                .teamContainer {
                    width: 230px;
                    max-width: 230px;
                    display: inline-block;
                }

                .streak {
                    display: inline;
                    margin-left: 25px;
                }
            }
        }
    }
}

@media(min-width:1500px){
    //STOCKS
    .symbol {
        display: block;
        margin-left: 45px;
        margin-right: 45px;
    }

    .company {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        display: block;
        font-weight: 500;
    }

    .price {
        font-size: 35px;
        margin-top: 25px;
    }

    .red {
        color: #BC4F6A;
    }

    .green {
        color: $green;
    }
}
