@import 'master';

.featuresView {
    height: 2500;
    width: 100vw;
    background-color: $black;
    color: $white;
    padding-top: 80px;
    text-align: center;

    h1 {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 70px;
    }

    h2 {
        font-weight: 600;
        font-size: 50px;
        margin-top: 50px;
    }

    h3 {
        line-height: 60px;
        font-weight: 700;
        font-size: 23px;
    }

    ul {
        box-shadow: 0 5px 10px rgba(0,0,0,0.5);
        background-color: rgba(249, 247, 246, .85);
        border-radius: 1px;
        color: $black;
        padding: 0 10px 20px 25px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;

        li {
            display: block;
            margin-left: 25px;
            margin-right: 20px;
            margin-top: 10px;
            line-height: 20px;
        }

        .statsGrid {
            margin-top: 15px;
        }

        .subList {
            font-weight: 400;
            font-size: 14px;
            float: left;
            margin-left: 80px;
            width: 320px;
            text-transform: capitalize;

            .abbreviation {
                float: right;
                font-weight: 500;
            }
        }
    }

    .featuresContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .basketball {
            display: flex;
            flex-direction: column;
            width: 80vw;
            margin-left: 10vw;

            .statPositioner {
                padding-left: 76px;
                font-weight: 400;
            }
        }

        .other {
            display: flex;
            flex-direction: column;
            width: 80vw;
            margin-left: 10vw;
            margin-top: 15px;
        }
    }
}
