@import 'master';

.inputContainer {
    height: 50px;
    margin-bottom: 80px;
}

.header {
    text-align: center;
    font-size: 30px;
}

.formView {
    margin-top: 70px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.formInput {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top:50px;
    width: 100%;
}

label {
    color: $blueGrey;
    font-size: 18px;
    font-weight: 500;
    padding: 0.75em 0.15em;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.formBtn {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: $black;
    color: $white;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.formBtn:hover {
    background-color: $blackHover;
}

.formBtn:active{
    background-color: $green;
    color:$black;
    outline:none;
}
.formBtn:focus{
    outline:none;
}
.formBtnLight {
    background-color: $green;
    color: $black;
    margin-top:5vh;
}

.formBtnLight:hover {
    background-color: $greenHover;
}

.formBtnLight:active{
    background-color: $green;
    color:$black;
}
.formBtnDanger{
    background-color:#BC4F6A;
}
.formBtnDanger:hover{
    background-color: #ff6b90;
}


@media(min-width:900px) {
    .formView {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .header {
        font-size: 45px;
        margin-bottom: 60px;
    }
}

@media(min-width:1500px) {
    .formView {
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .header {
        font-size: 60px;
        margin-bottom: 70px;
    }

    .formInput{
        font-size:40px;
    }
    .formBtn{
        font-size:40px;
    }
}
