@import 'master';

.inputContainer {
    height: 50px;
    margin-bottom: 75px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.formView {
    margin-top: 100px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.formInput {
    display: block;
    font-size: 30px;
    margin-bottom: 12px;
    width: 100%;
}

label {
    color: $blueGrey;
    font-size: 18px;
    font-weight: 500;
    padding: 0.75em 0.15em;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.formBtn {
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: $black;
    color: $white;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.formBtn:hover {
    background-color: $blackHover;
}

@media(min-width:900px) {
    .formView {
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .header {
        font-size: 60px;
        margin-bottom: 80px;
    }
}
