@import 'master';

.infoBox {
    color: $white;
    text-align: center;
    background-color: $black;

    .formBtn {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
    }

    .homeCard {
        height: 100vh;
        padding-top: 160px;
        text-align: center;

        .heading {
            font-size: 120px;
            display: block;
            margin-bottom: 10vh;
        }

        .bottomHeading {
            font-size: 60px;
        }

        .subHeading {
            font-size: 25px;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
        }

        .arrow {
            display: none;
        }
    }

    .examples {
        height: 200vh;
        display: block;
        padding-top: 30px;
        display: block;

        .featuresLink {
            display: block;
            color: rgba(249, 247, 246, .6);
            transition: all 0.5s ease-in-out;
            margin-top: 25px;
            padding: 10px;
            border-radius: 3px;
            width: 170px;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            border: 1px solid rgba(249, 247, 246, .6);
        }

        .featuresLink:hover {
            color: rgba(249, 246, 246, 1);
            border-color: rgba(249, 246, 246, 1);
        }

        .examplesContainerGrid {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .examplesContainerColumn {
                display: flex;
                flex-direction: column;
                perspective: 150px;

                .exampleContainer {
                    border-radius: 2px;
                    text-align: left;
                    cursor: default;
                    height: 220px;
                    min-width: 320px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: $white;
                    color: $black;
                    width: 30vw;
                    z-index: -1;
                    margin-top: 6vh;
                    padding-bottom: 10px;
                    position: relative;
                    display: inline-block;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
                    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

                    .exampleContainerHeader {
                        text-align: center;
                        display: block;
                        font-size: 25px;
                        padding: 20px 20px 10px;
                    }

                    .exampleText {
                        display: block;
                        padding: 15px;
                        line-height: 19px;
                    }
                }

                .exampleContainer::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    box-shadow: 0 5px 25px rgba(0,0,0,0.8);
                    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                }

                .exampleContainer:hover {
                    transform: scale(1.04, 1.04);
                }

                .exampleContainer:hover::after {
                    opacity: 1;
                }
            }
        }
    }
    @media(min-width:800px) {
        .examples {
            height: 100vh;

            .examplesContainerGrid {
                flex-direction: row;
            }
        }

        .formBtn {
            width: 40vw;
            margin-left: auto;
            margin-right: auto;
            font-size: 30px;
        }

        .homeCard {
            .arrow {
                display: block;
                font-size: 33px;
                margin-left: 50vw;
                position: absolute;
                bottom: 10px;
                color: rgba(249, 247, 246,.5);
                transition: all 0.4s ease-in-out;
                cursor: default;
            }
        }

        .footerCard {
            position: relative;
            top: 100px;
            background-color: $black;

            .bottomHeading {
                font-size: 100px;
                margin-bottom: 30px;
            }
        }
    }
    @media(min-width:1500px) {
        .homeCard {
            padding-top: 200px;

            .heading {
                font-size: 200px;
            }

            .subHeading {
                font-size: 33px;
                width: 60vw;
            }
        }
    }
}
