@import 'master';
.infoWindow{
    max-width:100vw;
    margin:auto;
    overflow-x: hidden;
}
.infoBox {
    color: $white;
    background-color: $black;
    text-align: center;

    .formBtn {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
    }

    .homeCard {
        height: 100vh;
        padding-top: 160px;
        text-align: center;

        .heading {
            font-size: 120px;
            display: block;
            margin-bottom: 10vh;
        }

        .bottomHeading {
            font-size: 60px;
        }

        .subHeading {
            font-size: 25px;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
        }

        .arrow {
            display: none;
        }
    }

    .examples {
        height: 1500px;
        display: block;
        padding-top: 30px;
        display: block;
        width:80vw;
        margin-left: auto;
        margin-right: auto;
        .messageArea{
            text-align: left;
            padding-top:45px;
        }
        .featuresLink {
            display: block;
            color: rgba(249, 247, 246, .6);
            transition: all 0.5s ease-in-out;
            margin-top: 25px;
            padding: 10px;
            border-radius: 3px;
            width: 170px;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            border: 1px solid rgba(249, 247, 246, .6);
        }

        .featuresLink:hover {
            color: rgba(249, 246, 246, 1);
            border-color: rgba(249, 246, 246, 1);
        }
        .bot{
            background-color: $blackHover;
        }
    }
    @media(min-width:800px) {

        .formBtn {
            width: 40vw;
            margin-left: auto;
            margin-right: auto;
            font-size: 30px;
        }

        .homeCard {
            .arrow {
                display: block;
                font-size: 33px;
                margin-left: 50vw;
                position: absolute;
                bottom: 10px;
                color: rgba(249, 247, 246,.5);
                transition: all 0.4s ease-in-out;
                cursor: default;
            }
        }

        .footerCard {
            // position: relative;
            // top: 100px;
            background-color: $black;
            .bottomHeading {
                font-size: 100px;
                margin-bottom: 30px;
            }
        }
    }
    @media(min-width:1500px) {
        .homeCard {
            padding-top: 200px;

            .heading {
                font-size: 200px;
            }

            .subHeading {
                font-size: 33px;
                width: 60vw;
            }
        }
    }
}
