$white: rgb(249, 247, 246);
$altWhite: #F7FBFB;
$black: #353535;
$blackHover: #282828;
$blueGrey: rgb(106,121,136);
$grey: #D2D7DF;
/*$orange: rgb(234, 162,156);*/
$orange: #79B473;
$orangeHover: #70A56A;
/*$orangeHover: #EA9A77;*/
$font: 'Helvetica Neue';
$font-weight: 800;

body {
    font-family: $font;
    background-color: $white;
    color: $black;
}

li,
ul {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

input {
    border: none;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    background-color: rgb(255,255,255);
    color: $orange;
    font-weight: 600;
    padding: 20px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px $orange;
}

.btn {
    background-color: $white;
    border: 1px solid $black;
    font-weight: 600;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn:hover {
    -webkit-box-shadow: inset 0 0 4px 4px $grey;
    -moz-box-shadow: inset 0 0 4px 4px $grey;
    box-shadow: inset 0 0 4px 4px $grey;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}
