$white: #F7FBFB;
$black: #353535;
$blackHover: #090A06;
$blue: #AEC5EB;
$orange: rgb(40,147,245);
$orangeHover:rgb(28,132,244);
/*$orange: #FFA37C;
$orangeHover: #EA9A77;*/
$grey: #D2D7DF;
$font: 'Helvetica Neue';
$font-weight:800;
/*$black: #1D1F15;*/
body {
    font-family: $font;
    background-color: $white;
    color: $black;
}

li,
ul {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

.btn {
    background-color: $white;
    border: 1px solid $black;
    font-weight:600;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    border-radius:8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn:hover {
    -webkit-box-shadow: inset 0px 0px 4px 4px $grey;
    -moz-box-shadow: inset 0px 0px 4px 4px $grey;
    box-shadow: inset 0px 0px 4px 4px $grey;
    cursor:pointer;
}
.btn:focus {
    outline:0;
}
