@import 'master';

.message-container {
    margin-top:85px;
    margin-bottom:0px;
    height: 83vh;
    overflow: scroll;
}
.messageSpacer{
    width:100%;
    height:8%;
    display: block;
}
.sportMessageSpacer{
    width:100%;
    height:17%;
    display: block;
}

.hiddenscrollbars::-webkit-scrollbar {
    display: none;
}
