@import 'master';

.message {
    font-family:'Helvetica Neue';
    font-size:13px;
    color:$white;
    .spacing {
        padding: 12px;
        border-radius: 15px;
        margin-bottom:20px;
    }

    .bot {
        float: left;
        clear:both;
        border-bottom-left-radius: 0;
        background-color: $black;
        transition: background-color 0.3s ease-in-out;
    }

    .bot:hover {
        background-color: $blackHover;
        cursor:default;
    }

    .user {
        float: right;
        clear:both;
        border-bottom-right-radius: 0;
        background-color: $green;
        transition: background-color 0.3s ease-in-out;
    }

    .homeUser{
        color:$blackHover;
    }
    .user:hover {
        background-color: $greenHover;
        cursor:default;
    }
}

@media(min-width:1500px){
    .message{
        font-size:16px;
        margin-bottom:25px;
        .spacing{
            padding:15px;
        }
    }
}
