@import 'master';

.message {
    border: 1px solid $white;
    font-family:'Helvetica Neue';
    font-size:13px;

    .spacing {
        padding: 12px;
        border-radius: 15px;
    }

    .bot {
        float: left;
        border-bottom-left-radius: 0;
        background-color: $black;
        color: $white;
        transition: background-color 0.3s ease-in-out;
    }

    .bot:hover {
        background-color: $blackHover;
        cursor:default;
    }

    .user {
        float: right;
        border-bottom-right-radius: 0;
        background-color: $green;
        color: $white;
        transition: background-color 0.3s ease-in-out;
    }

    .user:hover {
        background-color: $greenHover;
        cursor:default;
    }
}

@media(min-width:1500px){
    .message{
        font-size:16px;
        .spacing{
            padding:15px;
        }
    }
}
