@import 'master';

.message-container {
    margin-bottom: 0;
    height: 86vh;
    width: 100vw;
    overflow: scroll;
    padding: 20px 10px 33px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.message-container::-webkit-scrollbar {
    display: none;
}

.messageSpacer {
    height: 70px;
}

.sportMessageSpacer {
    height: 130px;
}

.sportStatMessageSpacer {
    height: 260px;
}

.sportScheduleMessageSpacerCompleted {
    height: 470px;
}


@media(min-width:600px) {
    .message-container{
        height:90vh;
        padding:0px;
        padding-bottom:8px;
        padding-top: 10px;
        width:80vw;
    }
    .message-container {
        height: 86vh;
    }
}

@media(min-width:1500px){
    .message-container{
        height:87vh;
    }
}
