@import 'master';

.message {
    border: 1px solid $white;
    margin-bottom: 70px;

    .spacing {
        padding: 15px;
        border-radius: 15px;
    }

    .bot {
        float: left;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        background-color: $black;
        color: $white;
        transition: background-color 0.3s ease-in-out;
    }

    .bot:hover {
        background-color: $blackHover;
        cursor:default;
    }

    .user {
        float: right;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0;
        background-color: $orange;
        color: $white;
        transition: background-color 0.3s ease-in-out;
    }

    .user:hover {
        background-color: $orangeHover;
        cursor:default;
    }
}
