@import 'master';

.message-container {
    margin-top: 85px;
    margin-bottom: 0;
    height: 83vh;
    overflow: scroll;
}

.messageSpacer {
    width: 100%;
    height: 10%;
    display: block;
}

.sportMessageSpacer {
    width: 100%;
    height: 19%;
    display: block;
}

.stockMessageSpacer {
    width: 100%;
    height: 25%;
    display: block;
}

.weatherMessageSpacer {
    width: 100%;
    height: 28%;
    display: block;
}

.sportStatMessageSpacer {
    width: 100%;
    height: 33%;
    display: block;
}

.weatherForecastMessageSpacer {
    width: 100%;
    height: 35%;
    display: block;
}

.sportScheduleMessageSpacer {
    width: 100%;
    height: 55%;
    display: block;
}

.sportScheduleMessageSpacerCompleted {
    width: 100%;
    height: 65%;
    display: block;
}

.sportStandingMessageSpacer {
    width: 100%;
    height: 60%;
    display: block;
}

.hiddenscrollbars::-webkit-scrollbar {
    display: none;
}
@media(min-width:600px) {
    .stockMessageSpacer {
        height: 38%;
    }
}
