@import 'master';

.nav-container {
    background: $black;
    color: $white;
    height: 65px;
    position: fixed;
    top: 0;
    width: 100vw;

    .right {
        float: right;
        font-weight: $font-weight;
        margin-top: 23px;

        .home{
            display: none;
        }
        li {
            letter-spacing: 2px;
            font-size: 15px;
            padding-right: 25px;
            text-transform: lowercase;
        }
    }

    .logo {
        font-size: 30px;
        line-height: 55px;
        font-weight: $font-weight;
        margin-left: 20px;
        border-bottom: 4px solid $white;
        transition: all 0.3s ease-in-out;
    }

    .logo:hover {
        border-bottom: 4px solid $orange;
    }

    .sliding-u-l-r {
        display: inline-block;
    }

    .sliding-u-l-r:after {
        content: '';
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width 0.5s ease, background-color 0.5s ease;
    }

    .sliding-u-l-r:hover:after {
        width: 100%;
        background: $orange;
    }
    @media(min-width:630px) {
        .logo {
            font-size: 40px;
            float: left;
            line-height: 50px;
        }
        .right {
            margin-top:14px;
            .home{
                display:inline-block;
            }
            li{
                font-size:30px;
            }
        }

        .nav-container {
            text-align: left;
            height: 75px;
        }
    }
}
