@import 'master';

.nav-container {
    background: $black;
    color: $white;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    font-variant: small-caps;
    z-index: 100;

    .right {
        float: right;
        font-weight: $font-weight;
        margin-top: 10px;

        .hideOnMobile {
            display: none;
        }

        li {
            letter-spacing: 2px;
            font-size: 19px;
            padding-right: 25px;
            text-transform: lowercase;
        }
    }

    .logo {
        font-size: 30px;
        font-weight: $font-weight;
        margin-left: 20px;
        margin-top: 3px;
        border-bottom: 3px solid $white;
        transition: all 0.3s ease-in-out;
    }
    @media(min-width:900px) {
        .logo {
            font-size: 30px;
            float: left;
        }

        .right {
            margin-top: 12px;

            .hideOnMobile {
                display: inline-block;
            }

            li {
                font-size: 20px;
            }
        }

        .logo:hover {
            border-bottom: 3px solid $green;
        }

        .sliding-u-l-r {
            display: inline-block;
        }

        .sliding-u-l-r:after {
            content: '';
            display: block;
            height: 3px;
            width: 0;
            background: transparent;
            transition: width 0.5s ease, background-color 0.5s ease;
        }

        .sliding-u-l-r:hover:after {
            width: 100%;
            background: $green;
        }
    }
}
