@import 'master';

.textRegion {

    .messageInput {
        width: 75%;
        display: inline;
        margin: 0;
        color: $black;
        font-size: 15px;
        padding:15px;
    }

    .messageBtn {
        width: 25%;
        padding: 15px;
        display: inline;
        margin: 0;
        font-size: 15px;
    }
}

@media(min-width:1000px){
    .messageInput {
        font-size: 20px;
        padding:20px;
    }

    .messageBtn {
        padding: 20px;
        font-size: 20px;
    }
}

@media(min-width:1200px){
    .messageInput {
        font-size: 22px;
        padding:22px;
    }

    .messageBtn {
        padding: 22px;
        font-size: 22px;
    }
}
