@import 'master';

.textRegion {
    .messageInput {
        width: 75%;
        display: inline;
        margin: 0;
        color: $black;
        font-size: 15px;
        padding:15px;
    }

    .messageBtn {
        width: 25%;
        padding: 15px;
        display: inline;
        margin: 0;
        font-size: 15px;
    }

    .speechBtn{
        display: none;
        transition: all .5s ease-in-out;
    }
}
@media(min-width:800px){
    .textRegion{
        .messageBtn {
            width:12.5%;
            padding: 16px;
            font-size: 16px;
        }
        .speechBtn{
            display: inline;
            width:12.5%;
        }
    }
}
@media(min-width:1100px){
    .textRegion{
        .messageInput {
            font-size: 16px;
            width:75%;
            padding:16px;
        }
    }
}

@media(min-width:1500px){
    .textRegion{
        .messageInput {
            font-size: 22px;
            padding:22px;
        }

        .messageBtn {
            padding: 22px;
            font-size: 22px;
        }
    }
}
